@{
    ViewData["Title"] = "出错啦";
}

<h1 class="text-danger">Error~Error~</h1>
<h2 class="text-danger">处理请求时出现了错误……(&gt;_&lt;)</h2>

<p>本服务器仅为大家娱乐，请各位黑阔巨巨不要攻击本渣的服务器！Orz</p>
<p>
    如此错误影响正常使用，请联系网站管理人员。
</p>
