@model RegisterViewModel
@{
    ViewData["Title"] = "注册";
    ViewData["Message"] = "注意：每个IP仅能注册一个账号。";
}

<h2>@ViewData["Title"]</h2>

<form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <h4>创建新账号。</h4>
    <h5 style="color: red">@ViewData["Message"]</h5>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="NickName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="NickName" class="form-control" />
            <span asp-validation-for="NickName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Serial" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Serial" class="form-control" />
            <span asp-validation-for="Serial" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Sign" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Sign" class="form-control" />
            @*@Html.EditorFor(model => model.Sign,new {@class ="form-control", style = "width:100%", box_sizing = "border-box"})*@
            <span asp-validation-for="Sign" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">注册</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
