@{
    ViewData["Title"] = "关于";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>如想要在您的服务器上架设此联机服务器，请与我<a asp-area="" asp-controller="Home" asp-action="Contact">联系</a>。
</p>

<hr/>
<h3>Credit</h3>
<p>幻走SkyDrift：illuCalab.</p>
<p>服务器前/后端：Ulysses</p>
<p>联机补丁（直连版/服务器版）：Ulysses</p>
<p>服务器选择器：Ulysses</p>
<p>测试人员：青龙圣者，Cake@@ShiningACG，二凌@@7yzone</p>