@{
    ViewData["Title"] = "关于";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    如想要在您的服务器上架设此联机服务器，请与我<a asp-area="" asp-controller="Home" asp-action="Contact">联系</a>。
</p>

<hr />
<h3>Credit</h3>
<p>幻走SkyDrift：illuCalab.</p>
<p>服务器前/后端：Ulysses</p>
<p>联机补丁（直连版/服务器版）：Ulysses</p>
<p>服务器选择器：Ulysses</p>
<p>测试人员：青龙圣者，Cake@@ShiningACG，二凌@@7yzone</p>

<hr />
<h3>Tips</h3>
<ul>
    <li>你可以通过在游戏特典码窗口输入联机补丁的作者名（全大写）来直接解锁所有人物、地图以及三个皮肤包。</li>
    <li>本服务器有以下几种获取全皮肤特典码的途径：
    <ul>
        <li><b>屠榜</b>： 在Free Run中挑战自己的最快速度并上传纪录。所有地图的成绩均进入服务排行榜前15名后可联系网站管理员索要特典码。</li>
        <li><b>打赏</b>： 感谢所有支持本服务器的运行的大佬。<b>超过2元</b>的打赏（请在打赏备注中注明个人信息）大佬可联系网站管理员索要特典码。</li>
        <li><b>排位</b>： 挑战排位，排名第一可获得特典码；在排名在自己之前的所有（活跃）用户均已拥有全皮肤的情况下也可申请特典码。</li>
    </ul>
</ul>