@{
    ViewData["Title"] = "联系";
}
<h2>@ViewData["Title"]</h2>
<h3>开发者：Ulysses</h3>
<p>服务器设备为个人出资，资源有限，您可以通过捐款支持本服务器的运行：</p>
<img width="40%" height="40%" src="~/images/mm_facetoface_collect_qrcode.png">
<address>
    <strong>Email:</strong> <a href="mailto:wdwxy12345@gmail.com">wdwxy12345{at}gmail.com</a><br />
</address>

<hr />
<h3>服务器运营：同上</h3>
<p>本服务器将于2019年6月迁移。详情请关注博客。</p>

<address>
</address>
